@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");
$font-family-sans-serif: "Poppins", sans-serif;
$font-family-monospace: "Roboto Mono", monospace;

//Main theme colors
$theme-colors: (
  "primary": #663399,
  "secondary": #f82ed6,
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

//Typography

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.text-black {
  color: black;
}

.text-muted {
  color: $gray-600;
}

.text-sm {
  font-size: 0.8rem;
}

.paragraph {
  font-size: large;
}

.subtitle {
  font-family: "Roboto Mono", monospace;
  margin-bottom: 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $gray-600;
  font-weight: bold;
}

.display {
  line-height: 1.2;
  font-weight: bold;
  font-size: 4.5rem;
}

.title {
  line-height: 1.2;
  font-weight: bold;
  font-size: 2rem;
}

//Component styling

.bg-gray-light {
  background-color: $gray-100;
}

.bg-gray {
  background-color: $gray-200;
}

.listItem {
  background-color: $gray-100;
}

.btn {
  font-family: "Roboto Mono", monospace;
  margin-bottom: 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: bold;
}

.landingHeader {
  background-color: $gray-200;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.landingSection {
  background-color: $gray-200;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.landingContainer {
  max-width: 1400px;
}
